// ------------------ Portfolio Section ------------------

.portfolio {
  padding: 40px 0;
  width: 95%;
  margin: 0 auto;

  // Layout para pantallas grandes
  @media (min-width: 768px) {
    height: 100vh;
    display: flex;
    align-items: stretch;

    .row {
      flex: 1;
      margin: 0;
    }

    .cv-info,
    .bento-container {
      height: 100%;
      overflow: hidden;
    }

    .cv-info {
      overflow-y: auto; // scroll interno
      padding-right: 1rem;
    }

    .bento-container {
      overflow-y: auto;
      padding-left: 1rem;
    }
  }
}

// ------------------ Responsive perfil y redes ------------------
.cv-info-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .portfolio_icon-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0 0 1rem 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  //Subtitulo Titulo de diseñadora
  &-subtitle{
    font-size: 1.5rem;
  }
}

// ------------------ Sección de contacto ------------------

.contact {
  padding: 40px 0;

  @media (min-width: 768px) and (max-width: 991px) {
    .row {
      display: flex;
      flex-direction: column;
    }

    .contact_wrapper {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      width: 100%;
      flex-wrap: wrap;
    }

    .contact_info-group {
      display: flex;
      flex-direction: column;
      flex: 1;
      min-width: 250px;
    }

    .contact_rrss {
      flex: 1;
      min-width: 200px;
      margin-top: 0;
    }

    .downloads {
      margin-top: 30px;
      width: 100%;
    }

    hr {
      display: none;
    }
  }
}